<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo</title>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
</head>
<body>
    {% include "components/navbar.html" %}
    {% include "components/notificationsPanel.html" %}
    <div class="cafe-main-body">
        <div class="cafe-not-found">
            <h1>404</h1>
            <p>Looks like you’re lost. This page isn’t here.</p>
        </div>
    </div>
    <!-- Rename to cafeChannels -->

</body>
</html>