<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo - Account Settings</title>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
</head>
<body>
    <div class="cafe-header-navbar">
        <div class="cafe-header-navbar-container">
            <!-- <div class="cafe-header-navbar-item"><button>Sidebar Test</button></div> -->
            <div class="cafe-header-navbar-item"><a class="cafe-navbar-title" href="{{ url_for('indexPage') }}"><h2>cafeVideo</h2></a></div>
            <form action="/searchRequest" method="POST" class="cafe-header-navbar-item cafe-search-layout">
                <input type="text" name="search" placeholder="Search for a video" class="cafe-search-box" required>
            </form>
            <div class="cafe-header-navbar-item-right cafe-header-navbar-item">
                {% if username %}
                    <button id="notificationButton" class="cafe-navbar-notifications-button cafe-hover-element">
                        N
                    </button>
                    <a class="cafe-navbar-upload-button cafe-hover-element" href="{{ url_for('upload') }}">
                        <img class="cafe-navbar-upload-button-img" src="{{ url_for('static', filename='images/upload.png') }}">
                    </a>
                    {% if profileInfo[3] == 0 %}
                        <a class="cafe-profile-link" href="{{ url_for('getAccountProfile', id=userID) }}">
                            <img class="cafe-navbar-pfp" style="border-color: {{ profileInfo[3] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profileInfo[0] if profileInfo[0] else 'profilepicturetest.png')) }}">
                        </a>
                    {% else %}
                        <a class="cafe-profile-link" href="{{ profileInfo[2] }}">
                            <img class="cafe-navbar-pfp" style="border-color: {{ profileInfo[3] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profileInfo[0] if profileInfo[0] else 'profilepicturetest.png')) }}">
                        </a>
                    {% endif %}
                {% else %}
                    <!-- If user is not logged in -->
                    <a href="{{ url_for('loginPage') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="cafeNotificationsPanel" class="cafe-notifications-box hidden">
        <div class="cafe-notifications-box-layout">
            <div class="cafe-notifications-box-header">
                <div class="cafe-notifications-box-header-title">
                    <h3>Notifications</h3>
                </div>
            </div>
            <div class="cafe-notifications-box-body">
                {% for notification in notifications %}
                    <div class="cafe-notifications-box-body-item">
                        <div class="cafe-notifications-box-body-profile-details">
                            <!-- Creator profile picture for testing -->
                            <div class="cafe-watch-creator-profile-picture" style="border-color: {{ notification[10] or '#C78A4B' }} !important;">
                                <img class="cafe-watch-creator-profile-picture-image" src="{{ url_for('static', filename='profile/pfp/' + (notification[9] if notification[9] else 'profilepicturetest.png')) }}">
                            </div>
                        </div>
                        <div class="cafe-notifications-box-body-item-details">
                            <p style="font-weight: bold;" class="cafe-notifications-item-title">{{ notification[3] }}</p>
                            <p style="font-size: 12px;" class="cafe-notifications-item-description">{{ notification[4] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="cafe-main-body">
        <div class="cafe-sidebar-left">
            <div class="cafe-sidebar-left-contents">
                <div class="cafe-sidebar-button-contents">
                    <a href="{{ url_for('indexPage') }}">Home</a>
                    <a href="{{ url_for('explorePage') }}">Explore</a>
                    {% if username %}
                        <a href="{{ url_for('accountSubscriptions') }}">Subscriptions</a>
                    {% endif %}
                    <a href="{{ url_for('indexPage') }}">cafeCorners</a>
                    <p class="cafe-account-settings-sidebar-title cafe-account-settings-sidebar-title-layout">Your account</p>
                    <a href="{{ url_for('indexPage') }}">Watch History</a>
                    <a href="{{ url_for('indexPage') }}">Playlists</a>
                    <a href="{{ url_for('indexPage') }}">Liked videos</a>
                    <a href="{{ url_for('indexPage') }}">Bookmarks</a>
                    <p class="cafe-account-settings-sidebar-title cafe-account-settings-sidebar-title-layout">Account Settings</p>
                    <a href="{{ url_for('editUserProfile') }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
                {% if username %}
                    <div class="cafe-sidebar-left-title">
                        <br><br>
                        <p>Subscriptions</p>
                    </div>
                    <div class="cafe-sidebar-subscriptions-contents">
                        {% for subscription in subscriptionsInfo %}
                            {% if subscription[4] == 0 %}
                                <a class="account-link" href="{{ url_for('getAccountProfile', id=subscription[2]) }}">
                                    <div class="cafe-sidebar-subscriptions-channel">
                                        <img class="cafe-sidebar-subscriptions-profile-picture" style="border-color: {{ subscription[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (subscription[0] if subscription[0] else 'profilepicturetest.png')) }}">
                                        <p class="cafe-sidebar-subscriptions-username">{{ subscription[3] }}</p>
                                    </div>
                                </a>
                            {% else %}
                                <a class="account-link" href="{{ subscription[5] }}">
                                    <div class="cafe-sidebar-subscriptions-channel">
                                        <img class="cafe-sidebar-subscriptions-profile-picture" style="border-color: {{ subscription[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (subscription[0] if subscription[0] else 'profilepicturetest.png')) }}">
                                        <p class="cafe-sidebar-subscriptions-username">{{ subscription[3] }}</p>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="cafe-video-list-body">
            <div class="cafe-account-settings-body">
                <div class="cafe-account-settings-user-details">
                    <img class="cafe-profile-picture-showcase-image cafe-box-shadow-other" src="{{ url_for('static', filename='profile/pfp/' + (profileInfo[0] if profileInfo[0] else 'profilepicturetest.png')) }}">
                    <h1>{{ username }} - Account Settings</h1>
                </div>
                <div class="cafe-account-settings-user-content">
                    <h1 class="cafe-center-titles" style="color: red;">WORK IN PROGRESS</h1>
                    <div class="cafe-account-settings-user-content-row">
                        {% if userAccessDisplay %}
                        <div class="cafe-account-settings-row-layout">
                            <p class="cafe-account-settings-title-underline">Feature Gating</p>
                            {% for userAccess in userAccessDisplay %}
                            <div class="cafe-feature-gating-content">
                                <div class="cafe-feature-gating-content-text">
                                    <h3>{{ userAccess[1] }}</h3>
                                    <p>{{ userAccess[2] }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="cafe-account-settings-row-layout profile-security-width-override">
                            <p class="cafe-account-settings-title-underline">Profile and Security</p>
                            <div class="cafe-account-settings-profile-security-layout">
                                <div class="cafe-account-settings-profile-security-form">
                                    <form action="/confirmAccountEdit" method="POST" class="cafe-modify-details">
                                        <p>Username</p>
                                        <input type="text" name="usernameEdit" value="{{ username }}" class="cafe-modify-details-box" required>
                                        <p>Channel URL</p>
                                        <input type="text" name="channelURL" value="{{ profileInfo[2] }}" class="cafe-modify-details-box" required>
                                        <button type="submit" class="cafe-comment-button">Save Edits</button>
                                    </form>
                                </div>
                                <div class="cafe-account-settings-profile-security-form">
                                    <form action="/" method="POST" class="cafe-modify-details">
                                        <p>Change Password</p>
                                        <input type="text" name="password" placeholder="Enter your old password" class="cafe-modify-details-box" required>
                                        <input type="text" name="password" placeholder="Enter your new password" class="cafe-modify-details-box" required>
                                        <button type="submit" class="cafe-comment-button">Confirm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="/" method="POST" class="cafe-login-details" enctype="multipart/form-data">

                </form>
                {% if error %}
                    <p style="color: red">{{error}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Rename to cafeChannels -->

</body>
</html>