<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo - Edit Profile</title>
</head>
<body>
    <div class="cafe-header-navbar">
        <div class="cafe-header-navbar-container">
            <!-- <div class="cafe-header-navbar-item"><button>Sidebar Test</button></div> -->
            <div class="cafe-header-navbar-item"><a class="cafe-navbar-title" href="{{ url_for('indexPage') }}"><h2>cafeVideo</h2></a></div>
            <form action="/searchRequest" method="POST" class="cafe-header-navbar-item cafe-search-layout">
                <input type="text" name="search" placeholder="Search for a video" class="cafe-search-box" required>
            </form>
            <div class="cafe-header-navbar-item-right cafe-header-navbar-item">
                {% if username %}
                    <a class="cafe-profile-link" href="{{ url_for('getAccountProfile', id=userID) }}">{{username}}</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <!-- If user is not logged in -->
                    <a href="{{ url_for('loginPage') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="cafe-main-body">
        <div class="cafe-sidebar-left">
            <div class="cafe-sidebar-left-title">
                <h3>Sidebar Contents</h3>
            </div>
            <div class="cafe-sidebar-left-contents">
                <p>Edit your profile to make your profile look unique!</p>
            </div>
        </div>
        <div class="cafe-video-list-body">
            <div class="cafe-upload-body">
                <div class="cafe-login-title">
                    <h1>Edit Profile</h1>
                </div>
                <img class="cafe-profile-banner" src="{{ url_for('static', filename='images/profilebannertemplate.png') }}">
                <img class="cafe-profile-picture-showcase-image" src="{{ url_for('static', filename='images/profilepicturetest.jpg') }}">
                <p>Upload a profile picture and thumbnail to make your profile more personal</p>
                <form action="/" method="POST" class="cafe-login-details" enctype="multipart/form-data">
                    <label for="profilePicture" class="cafe-upload-button otherParagraphs">Upload a profile picture</label>
                    <input type="file" id="profilePicture" name="profilePicture" accept="image/*" hidden><br><br>
                    <label for="profileBanner" class="cafe-upload-button otherParagraphs">Upload a profile banner</label>
                    <input type="file" id="profileBanner" name="profileBanner" accept="image/*" hidden><br><br>
                    <div class="cafe-align-label-input">
                        <label for="bio">Bio</label>
                        <textarea id="bio" name="bio" maxlength="240" placeholder="Enter a bio" class="cafe-edit-bio-box" required></textarea><br><br>
                    </div>
                    <button type="submit" class="cafe-comment-button">Save</button>
                </form>
                {% if error %}
                    <p style="color: red">{{error}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Rename to cafeChannels -->

</body>
</html>