<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo</title>
</head>
<body>
    <div class="cafe-header-navbar">
        <div class="cafe-header-navbar-container">
            <!-- <div class="cafe-header-navbar-item"><button>Sidebar Test</button></div> -->
            <div class="cafe-header-navbar-item"><a class="cafe-navbar-title" href="{{ url_for('indexPage') }}"><h2>cafeVideo</h2></a></div>

            <form action="/searchRequest" method="POST" class="cafe-header-navbar-item cafe-search-layout">
                <input type="text" name="search" placeholder="Search for a video" class="cafe-search-box" required>
            </form>

            <!-- If the user is logged in, show username and logout button -->
            <div class="cafe-header-navbar-item-right cafe-header-navbar-item">
                {% if username %}
                    <a class="cafe-navbar-upload-button" href="{{ url_for('upload') }}">
                        <img class="cafe-navbar-upload-button-img" src="{{ url_for('static', filename='images/upload.png') }}">
                    </a>
                    <a class="cafe-profile-link" href="{{ url_for('getAccountProfile', id=userID) }}">
                        <img class="cafe-navbar-pfp" style="border-color: {{ profilePicture[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profilePicture[0] if profilePicture[0] else 'profilepicturetest.png')) }}">
                    </a>
                {% else %}
                    <!-- If user is not logged in -->
                    <a href="{{ url_for('loginPage') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="cafe-main-body">
        <div class="cafe-sidebar-left">
            <div class="cafe-sidebar-left-title">
                <h3>Sidebar Contents</h3>
            </div>
            <div class="cafe-sidebar-left-contents">
                {% if username %}
                    <p>Upload videos by clicking the upload button on the navbar!</p>
                {% else %}
                    <p>Login to upload videos!</p>
                {% endif %}
            </div>
        </div>
        <div class="cafe-video-list-body">
            <div class="cafe-video-list-contents-recommended">
                <p class="cafe-video-list-title">Recommended Feed</p>
                <div class="cafe-video-posts-row">
                    <!-- Videos go in this element -->
                </div>
            </div>
            <div class="cafe-video-list-contents-trending">
                <p class="cafe-video-list-title">Trending Feed</p>
                <div class="cafe-video-posts-row">
                    <!-- Videos go in this element -->
                </div>
            </div>
            <div class="cafe-video-list-contents-new">
                <p class="cafe-video-list-title">New Videos Feed</p>
                <div class="cafe-video-posts-row">
                    <!-- Videos go in this element -->
                    {% for video in videos %}
                    <a class="video-link" href="{{ url_for('watchPage', v=video[0]) }}">
                        <div class="cafe-video-post-container cafe-video-post-container-margin-bottom">
                            <div class="cafe-video-post-thumbnail">
                                <img class="cafe-video-post-thumbnail" src="{{ url_for('static', filename='thumbnails/' + (video[4] if video[4] else 'videotemplate.png')) }}">
                            </div>
                            <div class="cafe-align-video-post-details">
                                <div class="cafe-video-post-profile-picture" style="border-color: {{ video[7] or '#C78A4B' }} !important;">
                                    <img class="cafe-video-post-profile-picture-image" src="{{ url_for('static', filename='profile/pfp/' + (video[6] if video[6] else 'profilepicturetest.png')) }}">
                                </div>
                                <div class="cafe-video-post-details">
                                    <div class="cafe-video-post-title">
                                        <p>{{ video[2] }}</p>  <!-- Video Title -->
                                    </div>
                                    <div class="cafe-video-post-channel">
                                        <p>{{ video[1] }}</p>  <!-- Uploader Username -->
                                    </div>
                                    <div class="cafe-video-post-views">
                                        <p>{{ video[3] }} views · {{ time_ago(video[5]) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% if username %}
                <div class="cafe-video-list-contents-subscriptions">
                    <p class="cafe-video-list-title">Subscriptions Feed</p>
                    <div class="cafe-video-posts-row">
                        <!-- Videos go in this element -->
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Rename to cafeChannels -->

</body>
</html>