<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo Help - License</title>
    {% include "components/scripts.html" %}
</head>
<body>
    {% include "components/navbar.html" %}
    {% include "components/notificationsPanel.html" %}
    {% include "components/sidebar.html" %}
    <div class="cafe-main-body">
        <div class="cafe-video-list-body">
            <div class="help-general-box">
                <pre>{{ markdown_content | safe }}</pre>
            </div>
        </div>
    </div>
    <!-- Rename to cafeChannels -->

</body>
</html>