<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo - Playlists</title>
    {% include "components/scripts.html" %}
</head>
<body>
    {% include "components/navbar.html" %}
    {% include "components/notificationsPanel.html" %}
    <div class="cafe-main-body">
        {% include "components/sidebar.html" %}
        <div class="cafe-video-list-body">
            {% if username %}
                <div class="cafe-video-list-contents-liked-videos">
                    <div class="cafe-playlists-header-title">
                        <p class="cafe-playlists-header-title-fix">Playlists</p>
                        <button id="cafePlaylistCreateButton" class="cafe-comment-button cafe-playlist-create-button-font cafe-playlists-header-title-fix">
                            Create
                        </button>
                    </div>
                    {% include "components/createPlaylist.html" %}
                    <div class="cafe-playlist-content-layout">
                        {% if userPlaylists %}
                        <div class="cafe-playlist-contents">
                            {% for playlist in userPlaylists %}
                            <a class="video-link" href="{{ url_for('viewPlaylist', playlistID=playlist[0]) }}">
                                <div class="cafe-playlists-contents-box">
                                    <div class="cafe-playlists-contents-margin">
                                        <h3 class="cafe-truncate" title="{{ playlist[2] }}">{{ playlist[2] }}</h3>
                                        <div class="cafe-playlists-contents-profile-details">
                                            <div class="cafe-profile-link">
                                                <img class="cafe-navbar-pfp" src="{{ url_for('static',
                                                filename='profile/pfp/' + (playlist[6] if playlist[6] else 'profilepicturetest.png')) }}"
                                                 style="border-color: {{ playlist[7] or '#C78A4B' }} !important;">
                                            </div>
                                            <p class="cafe-playlists-contents-profile-name-line">{{ playlist[5] }} · {{ playlist[8] }} videos</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                        {% else %}
                        <h1>You have no playlists</h1>
                        <h2>Create a playlist and it will be displayed here.</h2>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
<!-- Rename to cafeChannels -->
</body>
</html>