<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo</title>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
</head>
<body>
    <div class="cafe-header-navbar">
        <div class="cafe-header-navbar-container">
            <!-- <div class="cafe-header-navbar-item"><button>Sidebar Test</button></div> -->
            <div class="cafe-header-navbar-item"><a class="cafe-navbar-title" href="{{ url_for('indexPage') }}"><h2>cafeVideo</h2></a></div>

            <form action="/searchRequest" method="POST" class="cafe-header-navbar-item cafe-search-layout">
                <input type="text" name="search" placeholder="{{ searchQuery }}" class="cafe-search-box" required>
            </form>

            <!-- If the user is logged in, show username and logout button -->
            <div class="cafe-header-navbar-item-right cafe-header-navbar-item">
                {% if username %}
                    <button id="notificationButton" class="cafe-navbar-notifications-button cafe-hover-element">
                        N
                    </button>
                    <a class="cafe-navbar-upload-button cafe-hover-element" href="{{ url_for('upload') }}">
                        <img class="cafe-navbar-upload-button-img" src="{{ url_for('static', filename='images/upload.png') }}">
                    </a>
                    {% if profilePicture[2] == 0 %}
                        <a class="cafe-profile-link" href="{{ url_for('getAccountProfile', id=userID) }}">
                            <img class="cafe-navbar-pfp" style="border-color: {{ profilePicture[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profilePicture[0] if profilePicture[0] else 'profilepicturetest.png')) }}">
                        </a>
                    {% else %}
                        <a class="cafe-profile-link" href="{{ profilePicture[3] }}">
                            <img class="cafe-navbar-pfp" style="border-color: {{ profilePicture[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profilePicture[0] if profilePicture[0] else 'profilepicturetest.png')) }}">
                        </a>
                    {% endif %}
                {% else %}
                    <!-- If user is not logged in -->
                    <a href="{{ url_for('loginPage') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="cafeNotificationsPanel" class="cafe-notifications-box hidden">
        <div class="cafe-notifications-box-layout">
            <div class="cafe-notifications-box-header">
                <div class="cafe-notifications-box-header-title">
                    <h3>Notifications</h3>
                </div>
            </div>
            <div class="cafe-notifications-box-body">
                {% for notification in notifications %}
                    <div class="cafe-notifications-box-body-item">
                        <div class="cafe-notifications-box-body-profile-details">
                            <!-- Creator profile picture for testing -->
                            <div class="cafe-watch-creator-profile-picture" style="border-color: {{ notification[10] or '#C78A4B' }} !important;">
                                <img class="cafe-watch-creator-profile-picture-image" src="{{ url_for('static', filename='profile/pfp/' + (notification[9] if notification[9] else 'profilepicturetest.png')) }}">
                            </div>
                        </div>
                        <div class="cafe-notifications-box-body-item-details">
                            <p style="font-weight: bold;" class="cafe-notifications-item-title">{{ notification[3] }}</p>
                            <p style="font-size: 12px;" class="cafe-notifications-item-description">{{ notification[4] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="cafe-main-body">
        <div class="cafe-sidebar-left">
            <div class="cafe-sidebar-left-contents">
                <div class="cafe-sidebar-button-contents">
                    <a href="{{ url_for('indexPage') }}">Home</a>
                    <a href="{{ url_for('explorePage') }}">Explore</a>
                    {% if username %}
                        <a href="{{ url_for('accountSubscriptions') }}">Subscriptions</a>
                    {% endif %}
                    <a href="{{ url_for('indexPage') }}">cafeCorners</a>
                    <p class="cafe-account-settings-sidebar-title cafe-account-settings-sidebar-title-layout">Your account</p>
                    <a href="{{ url_for('indexPage') }}">Watch History</a>
                    <a href="{{ url_for('indexPage') }}">Playlists</a>
                    <a href="{{ url_for('indexPage') }}">Liked videos</a>
                    <a href="{{ url_for('indexPage') }}">Bookmarks</a>
                </div>
                {% if username %}
                    <div class="cafe-sidebar-left-title">
                        <br><br>
                        <p>Subscriptions</p>
                    </div>
                    <div class="cafe-sidebar-subscriptions-contents">
                       {% for subscription in subscriptionsInfo %}
                            {% if subscription[4] == 0 %}
                                <a class="account-link" href="{{ url_for('getAccountProfile', id=subscription[2]) }}">
                                    <div class="cafe-sidebar-subscriptions-channel">
                                        <img class="cafe-sidebar-subscriptions-profile-picture" style="border-color: {{ subscription[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (subscription[0] if subscription[0] else 'profilepicturetest.png')) }}">
                                        <p class="cafe-sidebar-subscriptions-username">{{ subscription[3] }}</p>
                                    </div>
                                </a>
                            {% else %}
                                <a class="account-link" href="{{ subscription[5] }}">
                                    <div class="cafe-sidebar-subscriptions-channel">
                                        <img class="cafe-sidebar-subscriptions-profile-picture" style="border-color: {{ subscription[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (subscription[0] if subscription[0] else 'profilepicturetest.png')) }}">
                                        <p class="cafe-sidebar-subscriptions-username">{{ subscription[3] }}</p>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="cafe-video-list-body">
            <div class="cafe-video-list-contents-search">
                <p class="cafe-video-list-title">{{ num_of_videos }} Results for {{ searchQuery }}</p>
                <div class="cafe-video-posts-row">
                    <!-- Videos go in this element -->
                    {% for video in videos %}
                    <a class="video-link" href="{{ url_for('watchPage', v=video[0]) }}">
                        <div class="cafe-video-post-container cafe-video-post-container-margin-bottom">
                            <div class="cafe-video-post-thumbnail">
                                <div class="cafe-video-post-thumbnail-border">
                                    <img class="cafe-video-post-thumbnail" src="{{ url_for('static', filename='thumbnails/' + video[4]) }}">
                                </div>
                            </div>
                            <div class="cafe-align-video-post-details">
                                <div class="cafe-video-post-profile-picture" style="border-color: {{ video[7] or '#C78A4B' }} !important;">
                                    <img class="cafe-video-post-profile-picture-image" src="{{ url_for('static', filename='profile/pfp/' + (video[6] if video[6] else 'profilepicturetest.png')) }}">
                                </div>
                                <div class="cafe-video-post-details">
                                    <div class="cafe-video-post-title">
                                        <p>{{ video[2] }}</p>  <!-- Video Title -->
                                    </div>
                                    <div class="cafe-video-post-channel">
                                        <p>{{ video[1] }}</p>  <!-- Uploader Username -->
                                    </div>
                                    <div class="cafe-video-post-views">
                                        <p>{{ video[3] }} views · {{ time_ago(video[5]) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% if username %}
                <div class="cafe-video-list-contents-search-subscriptions">
                    <p class="cafe-video-list-title">Results from your subscriptions</p>
                    <div class="cafe-video-posts-row">
                        <!-- Videos go in this element -->
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Rename to cafeChannels -->

</body>
</html>