<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo - Upload</title>
</head>
<body>
    <div class="cafe-header-navbar">
        <div class="cafe-header-navbar-container">
            <!-- <div class="cafe-header-navbar-item"><button>Sidebar Test</button></div> -->
            <div class="cafe-header-navbar-item"><a class="cafe-navbar-title" href="{{ url_for('indexPage') }}"><h2>cafeVideo</h2></a></div>
            <form action="/searchRequest" method="POST" class="cafe-header-navbar-item cafe-search-layout">
                <input type="text" name="search" placeholder="Search for a video" class="cafe-search-box" required>
            </form>
            <div class="cafe-header-navbar-item-right cafe-header-navbar-item">
                {% if username %}
                    <a class="cafe-navbar-upload-button" href="{{ url_for('upload') }}">
                        <img class="cafe-navbar-upload-button-img" src="{{ url_for('static', filename='images/upload.png') }}">
                    </a>
                    <a class="cafe-profile-link" href="{{ url_for('getAccountProfile', id=userID) }}">
                        <img class="cafe-navbar-pfp" style="border-color: {{ profilePicture[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profilePicture[0] if profilePicture[0] else 'profilepicturetest.png')) }}">
                    </a>
                {% else %}
                    <!-- If user is not logged in -->
                    <a href="{{ url_for('loginPage') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="cafe-main-body">
        <div class="cafe-sidebar-left">
            <div class="cafe-sidebar-left-title">
                <h3>Sidebar Contents</h3>
            </div>
            <div class="cafe-sidebar-left-contents">
                <p>Upload a video to have it displayed on the home page!</p>
            </div>
        </div>
        <div class="cafe-video-list-body">
            <div class="cafe-upload-body">
                <div class="cafe-login-title">
                    <h1>Upload to cafeVideo!</h1>
                </div>
                <img class="cafe-video-post-thumbnail" src="{{ url_for('static', filename='thumbnails/videotemplate.png') }}">
                <p>This is the placeholder for the video thumbnail if you don't upload one</p>
                <form action="/uploadVideo" method="POST" class="cafe-login-details" enctype="multipart/form-data">
                    <label for="video" class="cafe-upload-button otherParagraphs">Upload a video</label>
                    <input type="file" id="video" name="video" accept="video/*" required hidden><br><br>
                    <label for="thumbnail" class="cafe-upload-button otherParagraphs">Upload a thumbnail</label>
                    <input type="file" id="thumbnail" name="thumbnail" accept="image/*" hidden><br><br>
                    <input type="text" name="title" placeholder="Enter a title" class="cafe-comment-box" required><br><br>
                    <input type="text" name="description" placeholder="Enter a description" class="cafe-comment-box" required><br><br>
                    <input type="text" name="videoTags" placeholder="Enter some video tags, separate using commas" class="cafe-comment-box"><br><br>
                    <button type="submit" class="cafe-comment-button">Upload</button>
                </form>
                {% if error %}
                    <p style="color: red">{{error}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Rename to cafeChannels -->

</body>
</html>