<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>cafeVideo - {{ video[2] }}</title>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
</head>
<body>
    <div class="cafe-header-navbar">
        <div class="cafe-header-navbar-container">
            <!-- <div class="cafe-header-navbar-item"><button>Sidebar Test</button></div> -->
            <div class="cafe-header-navbar-item"><a class="cafe-navbar-title" href="{{ url_for('indexPage') }}"><h2>cafeVideo</h2></a></div>
            <form action="/searchRequest" method="POST" class="cafe-header-navbar-item cafe-search-layout">
                <input type="text" name="search" placeholder="Search for a video" class="cafe-search-box" required>
            </form>
            <div class="cafe-header-navbar-item-right cafe-header-navbar-item">
                {% if username %}
                    <button id="notificationButton" class="cafe-navbar-notifications-button cafe-hover-element">
                        N
                    </button>
                    <a class="cafe-navbar-upload-button cafe-hover-element" href="{{ url_for('upload') }}">
                        <img class="cafe-navbar-upload-button-img" src="{{ url_for('static', filename='images/upload.png') }}">
                    </a>
                    {% if profilePicture[2] == 0 %}
                        <a class="cafe-profile-link" href="{{ url_for('getAccountProfile', id=userID) }}">
                            <img class="cafe-navbar-pfp" style="border-color: {{ profilePicture[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profilePicture[0] if profilePicture[0] else 'profilepicturetest.png')) }}">
                        </a>
                    {% else %}
                        <a class="cafe-profile-link" href="{{ profilePicture[3] }}">
                            <img class="cafe-navbar-pfp" style="border-color: {{ profilePicture[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profilePicture[0] if profilePicture[0] else 'profilepicturetest.png')) }}">
                        </a>
                    {% endif %}
                {% else %}
                    <!-- If user is not logged in -->
                    <a href="{{ url_for('loginPage') }}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="cafeNotificationsPanel" class="cafe-notifications-box hidden">
        <div class="cafe-notifications-box-layout">
            <div class="cafe-notifications-box-header">
                <div class="cafe-notifications-box-header-title">
                    <h3>Notifications</h3>
                </div>
            </div>
            <div class="cafe-notifications-box-body">
                {% for notification in notifications %}
                    <div class="cafe-notifications-box-body-item">
                        <div class="cafe-notifications-box-body-profile-details">
                            <!-- Creator profile picture for testing -->
                            <div class="cafe-watch-creator-profile-picture" style="border-color: {{ notification[10] or '#C78A4B' }} !important;">
                                <img class="cafe-watch-creator-profile-picture-image" src="{{ url_for('static', filename='profile/pfp/' + (notification[9] if notification[9] else 'profilepicturetest.png')) }}">
                            </div>
                        </div>
                        <div class="cafe-notifications-box-body-item-details">
                            <p style="font-weight: bold;" class="cafe-notifications-item-title">{{ notification[3] }}</p>
                            <p style="font-size: 12px;" class="cafe-notifications-item-description">{{ notification[4] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="cafe-main-body">
        <div class="cafe-watch-layout-body">
            <div class="cafe-video-content">
                <div class="cafe-video-watch-body">
                    <div class="cafe-watch-body">
                        <div class="video-container">
                            <video width="960" height="540" controls>
                            <source src="{{ url_for('static', filename='videos/' + video[5]) }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="cafe-watch-title">
                            <h2>{{ video[2] }}</h2>
                        </div>
                        <div class="cafe-align-watch-details">
                            <div class="cafe-align-creator-stats">
                                <div class="cafe-align-creator-profile">
                                    {% if video[16] == 0 %}
                                        <a class="account-link" href="{{ url_for('getAccountProfile', id=creatorUserID) }}">
                                    {% else %}
                                        <a class="account-link" href="{{ video[17] }}">
                                    {% endif %}
                                            <div class="cafe-watch-creator-profile-picture" style="border-color: {{ video[22] or '#C78A4B' }} !important;">
                                                <img class="cafe-watch-creator-profile-picture-image" src="{{ url_for('static', filename='profile/pfp/' + (video[12] if video[12] else 'profilepicturetest.png')) }}">
                                            </div>
                                            <div class="cafe-watch-creator-name-subscriber-count">
                                                <p>{{ creatorUsername[0] }}</p>
                                                <p>{{ num_of_subscribers }} subscriber{{'s' if num_of_subscribers > 1}}</p>
                                            </div>
                                        </a>
                                </div>
                                <div class="cafe-watch-video-stats">
                                    <div class="cafe-watch-views">
                                        <div class="cafe-watch-views-title-underline">
                                            <p class="cafe-watch-views-title">Views</p>
                                        </div>
                                        <p class="cafe-center-text">{{ currentViewCount }}</p>
                                    </div>
                                    <div class="cafe-watch-video-stats-vertical-divider"></div>
                                    <div class="cafe-watch-likes">
                                        <div class="cafe-watch-likes-title-underline">
                                            <p>Likes</p>
                                        </div>
                                        <p class="cafe-center-text">{{ num_of_likes }}</p>
                                    </div>
                                    {% if creatorUserID != userID %}
                                        <div class="cafe-watch-video-stats-vertical-divider"></div>
                                    {% else %}
                                        <div class="cafe-watch-video-stats-vertical-divider-invisible"></div>
                                    {% endif %}
                                    {% if creatorUserID != userID %}
                                    <div class="cafe-watch-subscribe">
                                        <div class="cafe-watch-subscribe-button">
                                            <a class="cafe-hide-link-tag" href="{{ url_for('subscribeToUser', creatorID=creatorUserID) }}">
                                                {% if isSubscribedToChannel %}
                                                    <button class="cafe-comment-button">Subscribed</button>
                                                {% else %}
                                                    <button class="cafe-comment-button">Subscribe</button>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="cafe-watch-like-button">
                                            <a class="cafe-hide-link-tag" href="{{ url_for('likeVideoFromCreatorID', videoID=video[0], creatorID=creatorUserID) }}">
                                                {% if isLikedVideo %}
                                                    <button class="cafe-comment-button-liked">Liked</button>
                                                {% else %}
                                                    <button class="cafe-comment-button">Like</button>
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="cafe-align-watch-description">
                                <div class="cafe-watch-description-title">
                                    <p>Description</p>
                                </div>
                                <p class="cafe-align-description-contents">{{ video[3] }}</p>
                                {% if video[4] %}
                                <div class="cafe-watch-video-tags-title">
                                    <p>Video Tags</p>
                                </div>
                                <p class="cafe-align-description-contents">{{ video[4] }}</p>
                                {% endif %}
                                <div class="cafe-watch-video-tags-title">
                                    <p>Upload Date</p>
                                </div>
                                <p class="cafe-align-description-contents">{{ datePublished }}</p>
                            </div>
                        </div>
                        <!--
                        <form action="/commentOnVideo" method="POST" class="cafe-login-details">
                            <input type="text" name="comment" placeholder="Comment on this video" required><br><br>
                            <button type="submit">Post comment</button>
                        </form>
                        -->
                        {% if error %}
                            <p style="color: red">{{error}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="cafe-comment-section-body">
                    <div class="cafe-post-comment">
                        <h2>Comment Section - {{ num_of_comments }} Comments</h2>
                        {% if username %}
                        <form action="/postComment" method="POST" class="cafe-comment-form">
                            <input type="text" name="postComment" placeholder="Comment on this video" class="cafe-comment-box" required>
                            <button type="submit" class="cafe-comment-button">Comment</button>
                        </form>
                        {% endif %}
                    </div>
                    <!--
                    <div class="cafe-divider">
                        <br>
                    </div>
                    -->
                    {% for comment in comments %}
                    <div class="cafe-comment-layout-box">
                        <div class="cafe-comment-user-details">
                            <!-- Profile picture should go here -->
                            <img class="cafe-comment-pfp" style="border-color: {{ comment[4] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (comment[3] if comment[3] else 'profilepicturetest.png')) }}">
                            <h3>{{ comment[1] }}</h3>
                        </div>
                        <div class="cafe-comment-details-layout">
                            <div class="cafe-comment-details">
                                <p>{{ comment[2] }}</p>
                            </div>
                            <div class="cafe-comment-likes">
                                <p class="cafe-comment-likes-gap">{{ comment[6] }} Likes</p>
                                <div class="cafe-watch-video-stats-vertical-divider"></div>
                                <div class="cafe-comment-like-button">
                                    <!-- This needs to be likeCommentFromCommenterID -->
                                    <a class="cafe-hide-link-tag" href="{{ url_for('likeCommentFromCommenterID', commentID=comment[0], commenterID=comment[5]) }}">
                                        {% if comment[7] == 1 %}
                                            <button class="cafe-comment-button-liked">Liked</button>
                                        {% else %}
                                            <button class="cafe-comment-button">Like</button>
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cafe-reply-layout-box hidden">
                        <p>Test</p> <!-- This is where viewing replies will be -->
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="cafe-video-recommendation-list-body">
                <p class="cafe-video-list-title">Recommended videos</p>
                <div class="cafe-video-featured-item">
                    {% for video in videos %}
                    <a class="video-link" href="{{ url_for('watchPage', v=video[0]) }}">
                        <div class="cafe-video-post-container">
                            <div class="cafe-video-post-thumbnail">
                                <div class="cafe-video-post-thumbnail-border">
                                    <img class="cafe-video-post-thumbnail" src="{{ url_for('static', filename='thumbnails/' + video[4]) }}">
                                </div>
                            </div>
                            <div class="cafe-align-video-post-details">
                                <div class="cafe-video-post-profile-picture" style="border-color: {{ video[7] or '#C78A4B' }} !important;">
                                    <img class="cafe-video-post-profile-picture-image" src="{{ url_for('static', filename='profile/pfp/' + (video[6] if video[6] else 'profilepicturetest.png')) }}">
                                </div>
                                <div class="cafe-video-post-details">
                                    <div class="cafe-video-post-title">
                                        <p>{{ video[2] }}</p>  <!-- Video Title -->
                                    </div>
                                    <div class="cafe-video-post-channel">
                                        <p>{{ video[1] }}</p>  <!-- Uploader Username -->
                                    </div>
                                    <div class="cafe-video-post-views">
                                        <p>{{ video[3] }} views · {{ time_ago(video[5]) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Rename to cafeChannels -->

</body>
</html>