<div id="addToPlaylist" class="cafe-addToPlaylist-box hidden">
    <p class="cafe-small-box-title">Add to playlist</p>
    {% if userPlaylists %}
    <div class="cafe-playlist-add-contents">
        {% for playlist in userPlaylists %}
        <div class="cafe-playlists-contents-box">
            <button class="addVideoToPlaylist translucent-button" data-url="/playlist/{{ playlist[0] }}/add?v={{ video[0] }}"></button>
            <div class="cafe-playlists-contents-margin">
                <h3 class="cafe-truncate cafe-playlist-header-fix" title="{{ playlist[2] }}">{{ playlist[2] }}</h3>
                <div class="cafe-playlists-contents-profile-details">
                    <div class="cafe-profile-link">
                        <img class="cafe-navbar-pfp" src="{{ url_for('static',
                             filename='profile/pfp/' + (playlist[6] if playlist[6] else 'profilepicturetest.png')) }}"
                             style="border-color: {{ playlist[7] or '#C78A4B' }} !important;">
                    </div>
                    <p class="cafe-playlists-contents-profile-name-line">{{ playlist[5] }} · {{ playlist[8] }} videos</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>