<div class="cafe-header-navbar">
    <div class="cafe-header-navbar-container">
        <!-- <div class="cafe-header-navbar-item"><button>Sidebar Test</button></div> -->
        <div class="cafe-header-navbar-item"><a class="cafe-navbar-title" href="{{ url_for('indexPage') }}"><h2>cafeVideo</h2></a></div>


        <form action="/searchRequest" method="POST" class="cafe-header-navbar-item cafe-search-layout">
            <input type="text" name="search" placeholder="{{ searchQuery | default('Search for a video', true) }}" class="cafe-search-box" required>
        </form>

        <!-- If the user is logged in, show username and logout button -->
        <div class="cafe-header-navbar-item-right cafe-header-navbar-item">
            {% if username %}
                <button id="notificationButton" class="cafe-navbar-notifications-button cafe-hover-element">
                    N
                </button>
                <a class="cafe-navbar-upload-button cafe-hover-element" href="{{ url_for('upload') }}">
                    <img class="cafe-navbar-upload-button-img" src="{{ url_for('static', filename='images/upload.png') }}">
                </a>
                {% if profilePicture[2] == 0 %}
                    <a class="cafe-profile-link" href="/{{ url_for('getAccountProfile', id=userID) }}">
                        <img class="cafe-navbar-pfp" style="border-color: {{ profilePicture[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profilePicture[0] if profilePicture[0] else 'profilepicturetest.png')) }}">
                    </a>
                {% else %}
                    <a class="cafe-profile-link" href="/{{ profilePicture[3] }}">
                        <img class="cafe-navbar-pfp" style="border-color: {{ profilePicture[1] or '#C78A4B' }} !important;" src="{{ url_for('static', filename='profile/pfp/' + (profilePicture[0] if profilePicture[0] else 'profilepicturetest.png')) }}">
                    </a>
                {% endif %}
            {% else %}
                <!-- If user is not logged in -->
                <a href="{{ url_for('loginPage') }}">Login</a>
            {% endif %}
        </div>
    </div>
</div>